# Core project dependencies
asgiref==3.11.1
django==6.0.3
psycopg==3.3.3
psycopg-binary==3.3.3
python-dotenv==1.2.2
sqlparse==0.5.5
typing-extensions==4.15.0
tzdata==2025.3

# ----------------------------------------
# Local packages (for development only)
# Uncomment to install a package from a local folder
# Make sure the path is correct relative to this requirements.txt
# -e ../templates/core_button/   # installs the local core_button package

# ----------------------------------------
# GitLab packages (recommended for deployment)
# Uncomment to install directly from GitLab
# This avoids path issues on cloud platforms like Vercel
# all packages updates need to be pushed so vercel reflect those changes
git+https://gitlab.com/uasd-monografico/core_button.git@main#egg=core-button